<h3>links</h3>
<%= link_to 'Weidoo TOP', chirps_path %><br />
<%= link_to 'New Weidoo', new_chirp_path %><br />
<hr />
<div align="right">
  <a href="#" data-right-menu="OFF" class="btn btn-default">
    <%= "Hide Right Bar" %>
  </a>
</div><br />
