/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

 div#container {
 background-color: #FFFFF0;
 margin: 0 auto;
 position: relative;
 padding: 5px 0 0;
 width: 800px;
}

div#header {
 background-color: #FFC125;
 padding-top: 4px;
 border-top: 4px solid #6bb;
}

div#left {
 float: left;
 width: 590px;
 background-color: #FFFFF0;
 padding: 6px 6px 6px 0;
}

div#right {
float: right;
width: 190px;
background-color: #FFEC8B;
}

div#footer {
background-color: #FFFFF0;
border-top: 2px #6bb solid ;
text-align: center;
clear: both;
width: 100%;
}

div#menu_bar{
color: black;
}
